@import '~antd/dist/antd.css';

.App {
  h2 {
    text-align: center;
  }

  .ant-form {
    padding: 30px 50px 10px;
    margin: 30px auto;
    background-color: #fff;
    width: 500px;
    border-radius: 10px;
    .ant-row{
      margin-bottom: 17px;
    }
  }

  .ant-form-large .ant-form-item-label > label {
    font-weight: 500;
    height: 30px;
    font-size: 14px;
  }

  button {
    margin-top: 10px;
  }
  .menu{
    background-color: #fff;
    width: 500px;
    border-radius: 6px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    a{
      color: #272727;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      padding: 10px;
    }
    a:hover{
      color: #096cff;
    }

  }
  .ag-theme-alpine{
    width: 800px;
    height: 80vh;
    margin: 30px auto;
    .ag-center-cols-container{
      width: 100%!important;
    }
  }
}

.ag-row:hover{
  cursor: pointer;
}

